
{% for technology in technologyArrow %}
    <div class="row no-gutters">
        <div class="col-sm-12 technology">
            <table>
                <tr>
                    <td>
                        {{ technology.name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ technology.description }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endfor %}


